// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font__raleway : 'Raleway', sans-serif;

// Colors
$color__gray: #E8E8E8;
$color__gray-2: #F2F2F2;
$color__black: #151515;
$color__text: #707070;

$color__red: #F47070;